[submodule "external/flatbuffers"]
	path = external/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "external/iceoryx"]
	path = external/iceoryx
	url = https://github.com/eclipse-iceoryx/iceoryx.git
[submodule "gpuless"]
	path = gpuless
	url = git@github.com:spcl/gpuless.git
